
/*****  [ Cart Rules ]  *****/
.civicart-no-items {
  text-align: center;
}

.civicart-no-thumbnail {
  max-height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 10px;
}

.civicart-thumbnail {
  border: 1px solid black;
  max-height: 50px;
  max-width: 50px;
  margin-right: 10px;
}

.civicart-cart-contents tr th:first-of-type {
  text-align: left;
  padding-left: 70px;
}

.civicart-cart-contents tr th {
  text-align: center;
}


.civicart-cart-contents tr td:first-of-type {
  max-width: 55px;
  text-align: left;
}

.civicart-cart-contents tr td {
  text-align: center;
}


/*****  [ Checkout Rules ]  *****/

.civicart-checkout #priceset-div,
.CRM_Civicart_Form_Checkout #priceset-div {
  display: none;
}




/*****  [ Popup Rules ]  *****/

.civicart-popup-wrapper {
  position: fixed;
  top: 100px;
  left: 25%;
  width: 50%;
  z-index: 1000;
}

.civicart-popup {
  padding: 15px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  margin-bottom: 15px;
}


.civicart-popup-error {
  border-color: #a00;
  color: #700;
  background: rgba(255, 200, 200, 0.8);
}

.civicart-popup-success {
  border-color: #070;
  color: #040;
  background: rgba(200, 255, 255, 0.8);
}

